<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>460011238554-778u3ca217bmc226bmeuqfkapcllsp19.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.460011238554-778u3ca217bmc226bmeuqfkapcllsp19</string>
	<key>API_KEY</key>
	<string>AIzaSyD5ER7-Y5XgFg0inPjk4jBGTUT-Bv_0FLo</string>
	<key>GCM_SENDER_ID</key>
	<string>460011238554</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ifitnine.stickeritar</string>
	<key>PROJECT_ID</key>
	<string>sticker-it-f1e5f</string>
	<key>STORAGE_BUCKET</key>
	<string>sticker-it-f1e5f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:460011238554:ios:f2d2a1f6631f7d3c</string>
	<key>DATABASE_URL</key>
	<string>https://sticker-it-f1e5f.firebaseio.com</string>
</dict>
</plist>
